.input {
    display: block;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    color: var(--second-color);
    font-family: var(--main-font-family);
    border-radius: 5px;
    border: 1px solid var(--third-color);
    background-color: var(--fourth-color);

    font-size: 1.4em;
    padding-left: .5rem;
    transition: background-color .2s;
}

.input:hover {
    background-color: var(--third-color);
}

.input-label {
    color: var(--second-color);
    font-family: var(--main-font-family);
    font-size: 1.2em;
    width: 100%;
    line-height: 2em;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50%;
}

.radio-container {
    display: flex;
    width: auto;
    align-items: center;
}

.radio {
    margin: 0 4px 2px 0;
}

.horizontal-gap {
    width: 2rem;
}

.submit {
    width: 100%;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: var(--second-color);
    height: 3rem;
    transition: background-color .2s;
}

.submit:hover {
    background-color: var(--third-color);
}

.select-container {
    position: relative;
}

.select-dropdown {
    z-index: 100;

    display: none;
    position: absolute;
}

.select-dropdown-show {
    display: block;
    width: 100%;
}

.select-element {
    display: flex;
    align-items: center;
    padding-left: .4rem;
    padding-right: .4rem;
    min-height: 5.5vh;
    min-width: 10rem;
}

.select-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--second-color);
    font-family: var(--main-font-family);
    font-size: 1.2em;
    width: 100%;
    line-height: 2em;
}


.selected {
    background-color: var(--third-color);
}

.select-element-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}