.channels-container {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    width: 84vw;
}

.channel-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 4px 2px var(--third-color);
    background-color: var(--fourth-color);
    border-radius: 5px;
    padding: 15px 20px 10px;
    overflow-x: hidden;
    min-height: 140px;
}

.add-channel-card {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    transition: background-color .2s;
    cursor: pointer;
}

.add-channel-card:hover {
    background-color: var(--third-color);
}

.add-channel-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-card-add-icon {
    fill: var(--second-color);
    width: 16px;
    height: 16px;
    margin-bottom: 8px;
    margin-right: 5px;
}

.channel-card-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-card-header {
    font: var(--header-font-family);
    color: var(--second-color);
    margin-top: 0;
    font-size: 1.3em;
    margin-bottom: 8px;
    max-width: calc(100% - 20px);
    overflow-x: hidden;
}

.channel-card-settings-icon {
    fill: var(--second-color);
    width: 16px;
    height: 16px;
    margin-bottom: 8px;
    transition: fill .2s;
}

.channel-card-settings-icon:hover {
    fill: var(--fifth-color);
}

.channel-card-info {
    font-family: var(--main-font-family);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    bottom: 0;
    gap: 4px;
}

.channel-card-id {
    display: block;
    color: var(--fifth-color);
    margin-bottom: 16px;
}

.channel-card-status {
    color: var(--second-color);
    display: flex;
    justify-content: left;
    gap: 7px;
    align-items: center;
    margin-bottom: 4px;
}

.channel-card-keys-container {
    color: var(--second-color);
    max-width: 100px;
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

.channel-card-key-icon {
    fill: var(--second-color);
    width: 16px !important;
    height: 16px !important;
}

@media screen and (max-width: 600px) {
    .channels-container {
        grid-template-columns: 1fr;
    }

    .channel-card {
        width: 84vw;
    }

}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .channels-container {
        grid-template-columns: repeat(auto-fill, 40vw);
    }

    .channel-card {
        width: 40vw;
    }
}

@media screen and (min-width: 801px) {
    .channels-container {
        grid-template-columns: repeat(auto-fill, clamp(200px, 26vw, 400px));

    }

    .channel-card {
        width: 26vw;
        max-width: 400px;
    }
}