.settings {
    margin-top: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    gap: 1rem
}

.menu {
    box-sizing: border-box;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    height: max-content;
    overflow: hidden;
    cursor: pointer;
}

.settings-block {
    width: 100%;
}

.channel-settings-radio-container {
    font-family: var(--main-font-family);
    display: block;
}
.channel-settings-radio-container > * {
    display: block;
}

.menu-tab {
    display: flex;
    align-items: center;
    line-height: 1.3em;
    padding: 15px;
    border-bottom: 1px solid var(--third-color);
    color: var(--second-color);
}   

.menu-tab:last-child {
    border: none;
}

.warning-loading > * >  .circle {
    background-color: var(--main-color);
}

.warning-loading > * > .circle-1 {
    background-color: var(--main-color);
}

.active {
    background-color: var(--third-color);
}

@media screen and (max-width: 600px) {
    .settings {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .menu {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }

    .menu-tab {
        border-right: 1px solid var(--third-color);
        border-bottom: none;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .settings {
        grid-template-columns: 1fr 5fr;
    }
}

@media screen and (min-width: 801px) {
    .settings {
        grid-template-columns: 1fr 6fr;
    }
}

.menu-horizontal {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.justify-left {
    justify-content: left;
}

.horizontal {
    display: flex;
    align-items: center;
}

.menu-tab-horizontal {
    border-right: 1px solid var(--third-color);
    border-bottom: none;
    text-align: center;
    justify-content: center;
}
