.app-header {
    padding-left: 8%;
    padding-right: 8%;
    min-height: 5.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--fourth-color);
    justify-content: space-between;
}

.lithium-container {
    text-decoration: none;
    font-size: 2.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}


.lithium-label {
    color: var(--second-color);
    display: inline-block;
    height: 2.75vh;
    line-height: 2.75vh;
}

.lithium-label:hover {
    color: black;
    text-decoration: none;
}

span.mq-label {
    margin-left: 3px;
    background-color: red;
    color: white;
    border-radius: 3px;
    line-height: 3.2vh;
    height: 3.2vh;
    padding-left: 5px;
    padding-right: 5px;
}

span.mq-label:hover {
    text-decoration: none;
    color: white;
}

.button-container {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
}

.show {
    display: grid;
    width: 100%;
}

.dropdown-item {
    position: relative;
    border-radius: 0;
    display: block;
    width: 100%;
    border-bottom: none;
}

.dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid var(--third-color);
}

.button-opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}