:root {
    --main-color: white; /* background color */
    --second-color: black; /* text color */
    --third-color: #f2edf8; /* element's border color and hover */
    --fourth-color: #f8f9fa; /* element's background color */
    --fifth-color: #d3c3c3;
    --error-color: #e83f36;
    --error-color-2: #dc3545;
    --warning-color: #ffc107;
    --warning-color-2: #cca324;
}

[data-theme="dark"] {
    --main-color: #1d1922;
    --second-color: white;
    --third-color: #212734;
    --fourth-color: #272727;
    --fifth-color: #575757;
    --error-color: #ff5f3a
}

body {
    --header-font-family: 'Arial';
    --main-font-family: 'Roboto';
    background-color: var(--main-color);
}

.app-body {
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: var(--main-color);
}

.header-1 {
    line-height: 1.2em;
    font-family: var(--header-font-family);
    color: var(--second-color);
}

.center {
    display: flex;
    justify-content: center;
}

.app-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.error-text {
    font-family: var(--main-font-family);
    font-size: 1em;
    margin-top: .4rem;
    line-height: .5em;
    height: .4em;
    text-align: left;
    width: 100%;
    color: var(--error-color)
}

.button {
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    line-height: .8em;
    font: var(--main-font-family);
    font-size: 1em;
    background-color: var(--fourth-color);
    color: var(--second-color);
    padding: 6px;
    transition: .2s background-color;
}

.button:hover {
    background-color: var(--third-color);
}

.mini-button {
    width: max-content;
    padding: 8px 25px;
}

.warning {
    background-color: var(--warning-color);
    color: black;
}

.warning:hover {
    background-color: var(--warning-color-2);
}

.error {
    background-color: var(--error-color);
    color: var(--main-color);
}

.error:hover {
    background-color: var(--error-color-2);
    color: var(--main-color);
}

.theme-icon {
    width: 20px;
    height: 20px;
    fill: var(--second-color);
    transition: fill .2s, all .5s;
}

[data-theme="dark"] .theme-icon {
    transform: rotate(180deg);

}


.theme-icon:hover {
    fill: var(--fifth-color)
}

@media screen and (max-width: 600px) {
    .app-form {
        width: 84vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .app-form {
        width: 64vw;
    }
}

@media screen and (min-width: 801px) {
    .app-form {
        width: 64vw;
        max-width: 800px;
    }
}
