@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@600&family=Noto+Sans+Mono:wght@500&family=Nunito:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&display=swap');

[data-theme="light"] {
    --main-color: #f8f0fb; /* background color */
    --second-color: black; /* text color */
    --third-color: #00e1ff; /* element's border color and hover */
    --fourth-color: #00eeff; /* element's background color */
    --fifth-color: #939196;
    --sixth-color: #00d4ff;
    --seventh-color: white;
    --error-color: #e83f36;
    --error-text-color: white;

    --error-color-2: #dc3545;
    --warning-color: #ffc107;
    --warning-color-2: #cca324;

    --box-shadow: 0 0 4px 2px var(--fourth-color);
}

[data-theme="dark"] {
    --main-color: #000C14;
    --second-color: #F6FFF8;
    --third-color: #032531;
    --fourth-color: #001a2c;
    --fifth-color: #bfc0c0;
    --sixth-color: #003D66;
    --seventh-color: #210124;

    --error-color: #ff5f3a;
    --error-text-color: #F6FFF8;
    --error-color-2: #dc3545;
    --warning-color: #ffc107;
    --warning-color-2: #cca324;

    --box-shadow: 0 0 4px 2px var(--third-color);

}

body {
    transition: all .2s;
    --header-font-family: 'Manrope', sans-serif;
    --main-font-family: 'Nunito', sans-serif;
    --code-font-family: 'Noto Sans Mono', monospace;;
    background-color: var(--main-color);
}

code {
    font-family: var(--code-font-family);
}

.app-body {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

.header-1 {
    line-height: 1em;
    margin-top: 0;
    font-size: xx-large;
    font-family: var(--header-font-family);
    color: var(--second-color);
}

.header-2 {
    margin-top: 0;
    line-height: 1.2em;
    font-size: x-large;
    font-family: var(--header-font-family);
    color: var(--second-color)
}

.header-3 {
    margin-top: 0;

    line-height: 1.2em;
    font-size: large;
    font-family: var(--header-font-family);
    color: var(--second-color)
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
}

.height-100 {
    height: 100%;
}

.grey-window {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
}

.vertical-center {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100vh;
}

.app-form {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    max-width: calc(500px + 4rem);
}

.form-bg {
    background-color: var(--seventh-color);
}

.error-text {
    max-width: 500px;
    font-family: var(--main-font-family);
    font-size: 1em;
    margin-top: .4rem;
    line-height: .5em;
    height: .4em;
    text-align: left;
    width: 100%;
    color: var(--error-color)
}

.button {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    line-height: .8em;
    font: var(--main-font-family);
    font-size: 1em;
    background-color: var(--fourth-color);
    color: var(--second-color);
    padding: 6px;
    transition: .2s background-color, .2s border;
}

.button:hover {
    background-color: var(--third-color);
}

.mini-button {
    width: max-content;
    padding: 8px 25px;
}

.warning {
    background-color: var(--warning-color);
    color: black;
}

.warning:hover {
    background-color: var(--warning-color-2);
}

.error {
    background-color: var(--error-color);
    color: var(--error-text-color);
}

.error:hover {
    background-color: var(--error-color-2);
}

.theme-icon {
    width: 20px;
    height: 20px;
    fill: var(--second-color);
    transition: fill .2s, all .5s;
}

[data-theme="dark"] .theme-icon {
    transform: rotate(180deg);

}

.text {
    color: var(--second-color)
}

@media screen and (max-width: 600px) {
    .app-form {
        width: 84vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .app-form {
        width: 64vw;
    }
    .error-text {
        margin-left: 2fr;
    }
}

@media screen and (min-width: 801px) {
    .app-form {
        width: 64vw;
    }
}
